<ul class="list-group">
  {{#each posts as |post|}}
  <div class="list">
  <h5 class="mb-1">{{post.title}}</h5>
  <li class="list-group-item">{{post.body}}</li>
  <small class="text-muted">By {{post.userId}}, on {{post.timestamps}}</small>
  <button id="del-btn" data-id={{post.id}}>X</button>
  </div>
  {{/each}}
</ul>

<section class="post-form">
  <h3>Add a blog post:</h3>
<form id="add-post" action="">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Title</label>
    <input type="text" class="form-control" id="title" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Body</label>
    <input type="text" class="form-control" id="body">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</section>

<script src="js/add-post.js"></script>